.about{
    
    width: 100%;
    height: 95vh;
    background-color: #1b1724;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}   
  
.img-about{
position: relative;
display: flex;
left: 1rem;
top: 6rem;
height: 350px;
border: 3px solid #0e091b;
box-shadow: 2px 2px 12px rgb(235 117 117), -6px -6px 12px rgb(16 16 75);
}

.about div h2,p{
position: relative; 
color: rgb(133, 228, 162);
font-weight: 400;
font-size: 18px;
line-height: 1.4;
text-align: justify;

}

.about div h2{
    font-size: 35px;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 12px rgb(235 117 117), -6px -6px 12px rgb(16 16 75);
}


.container-about{
    display: flex;
    position: absolute ;
    right: 8%;
    margin-top: 1.5rem;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    
}