<section class="about" id="about">  
    
    <div class="img-about">
        <img src="/assets/imagen/img-sobre-mi.jpg" alt="imagen de contenido ">

    </div>
    <div class="container-about">
        <h2>Un poco sobre mi</h2>

        <p>
            Mi nombre es José Antonio tengo 25 años vivo en madrid, y en mi relato les puedo comentar que en los ultimos 5 años comencé a descubrir lo que podía realizar en el área digital, fue despertando cada vez más el interes por el mundo web y como este está conectado con las personas.<br><br>
            Experimentando por sus ramas me fue apasionando el área del diseño y del desarrollo web, actualmente tengo 1 año de experiencia profesional y he tenido la oportunidad de trabajar con varios equipos en proyectos de empresas como ARS Futuro, banreserva, logpc, entre otras.<br><br>
            Me encanta participar en trabajos creativos en los que pueda cooperar con distintas áreas y lograr nuevas experiencias para todos. Pienso que siempre es posible marcar la diferencia y darle a los clientes un producto de mucha calidad que genere un gran impacto en sus usuarios.<br><br>
            Por otra parte me considero una persona responsable, puntual, honesta y respetuosa, con capacidad de aprender rápidamente, me gusta poner atención y ser detallista, aprecio las recomendaciones que me hacen. Me gusta mucho trabajar en equipo y lograr los objetivos marcados.
        </p>

    </div>
  
</section>
