<nav>
    <div class="nav-title">
        <img src="../../../assets/imagen/favico.jpg" alt="logo de jose jimenez" class="logo"> 
        <h2>JOSE JIMENEZ R.</h2>
        <p>Web Designer & Fron-end Developer</p>
            
    </div>

     <mat-toolbar class="nav-container">
        <a href="#begin" class="btn-active">Inicio <mat-icon>store</mat-icon></a>
        <a href="#about" class="btn">Sobre mi <mat-icon>description</mat-icon> </a>
        <a href="#skill" class="btn">Habilidades <mat-icon>build</mat-icon></a>
        <a href="#project" class="btn">Portafolio <mat-icon>work</mat-icon></a>
        <a href="#form" class="btn">Contacto <mat-icon>contacts</mat-icon></a>
    </mat-toolbar>

</nav>

