<section class="galery-proyect" id="project"> 

    <h2>Proyectos</h2>
    
    <a href="https://github.com/Woltryn/galeria-practica" target="_black" class="galery-card" id="card-1" ></a>

    <a href="https://github.com/Woltryn/Reloj" target="_black" class="galery-card" id="card-2"></a>
   
    <a href="https://github.com/Woltryn/calculadora-javascript" target="_black" class="galery-card" id="card-3"></a>
  
    <a href="https://github.com/Woltryn/room-homepage" target="_black" class="galery-card" id="card-4"></a>

    <a href="https://github.com/Woltryn/Lista-de-compra" target="_black" class="galery-card" id="card-5"></a>

    <a href="https://github.com/Woltryn/Formulario-javascript" target="_black" class="galery-card" id="card-6"></a>
    
    
</section>