
footer {
    background: #22303A;
    height: 4.5rem;  
    width: 100%;
    position: relative;
    display: flex;
    color: rgb(161, 230, 181);
    padding: 1rem;
    justify-content: center;
    line-height: 1.5;
}
footer  p{
    text-align: center;
    font-size: 16px;
}

.btn-footer{
    position: absolute;
    right: 4rem;
    font-size: 43px;
    
}


.btn-footer:hover{
font-size: 45px;
color: rgb(16, 204, 204);
transition: 0.6s;
}