<section class="form-warp" id="form">

    
    <div class="contact-info">
        <div class="info-title">
           <span class="far fa-user-circle"></span> 
           <h2>REDES <br> SOCIALES</h2>

        </div>
        <div class="info-items">
    
            <a href="https://www.facebook.com/profile.php?id=100000120216975" target="_black"><span  class="fab fa-facebook"></span></a>
      
            <a href="https://www.linkedin.com/in/jose-jimenez-04a0aa22a/" target="_black"><span class="fab fa-linkedin-in"></span></a>

            <a href="https://github.com/Woltryn" target="_black"><span class="fab fa-github"></span></a>

            <a href="https://www.instagram.com/josstry_n/?hl=es" target="_black"><span class="fab fa-instagram-square"></span></a>

 
         </div>
    </div>

    <form action="" class="form-contact">
        
         <h2>Envia un mensaje </h2> 
        <div class="user-info">
            <label for="names">Nombres</label>
            <input type="text"  id="names">

            <label for="phone">Teléfono / Celular </label>
            <input type="number"  id="phone">

            <label for="content">Email</label>
            <input type="email"  id="content">

            <label for="message">Mensaje</label>
            <textarea  id="message"></textarea>
            
            <input type="button" value="ENVIAR" id="btnSend" />

        </div> 
    </form>

</section>













