<section class="begin-content" id="begin">
    <div class="separator-content">
        <h1> ¡ Hola Soy José Jiménez ! </h1>

       <span>Bienvenidos a mi portafolio</span>
       
        <p>
        
           <a href="https://drive.google.com/file/d/1ivfH0-d9wPfL6Xm208PSd6EydjiDtNI4/view?usp=sharing" title="Curriculum" target="_black"> <i class="fas fa-download"> Descargar CV</i> </a>
            
        </p>
        
    </div>
    
    <div class="separator-content-2">
        <img src="../../../assets/imagen/img-2.jpg" alt="">
    </div>

    <div>
        

    </div>

</section>
