 <section class="skill-container" id="skill">
    <h3>Habilidades</h3>

    <div class="container-cards">
        <div class="section-left">
            <ul>
                <li><img src="../../../assets/imagen/logo-html5.png" alt="Logo de HTML"></li> 
                <li><img src="../../../assets/imagen/logo-css.png" alt="Logo de CSS"></li>
                <li>
                    <img src="../../../assets/imagen/logo-javascript.png" alt="Logo de Javascript">
                    
                </li>
                <li><img src="../../../assets/imagen/logo-angular.png" alt="Logo de Angular"></li> 
                <li><img src="../../../assets/imagen/logo-react.png" alt="Logo de React"></li>
                <li><img src="../../../assets/imagen/logo-bootstrap.png" alt="Logo de Bootstrap"></li>
            </ul>
        </div>

        <img src="../../../assets/imagen/img-4.jpg" alt="Imagen de fondo" class="img-background">

        <div class="section-right">
            <ul>
                <li><img src="../../../assets/imagen/logo-typescript.png" alt="Logo de Typescript"></li>
                <li><img src="../../../assets/imagen/logo-workpress.png" alt="Logo de Workpress"></li>
                <li><img src="../../../assets/imagen/logo-materialize.png" alt="Logo de Materialize"></li>
                <li><img src="../../../assets/imagen/logo-sass.png" alt="Logo de Sass"></li> 
                <li><img src="../../../assets/imagen/logo de git.png" alt="Logo de Git"></li>
                <li><img src="../../../assets/imagen/logo-jquery.png" alt="Logo de Jquery"></li>
            </ul>    
        </div>
        

    </div>

</section>  










<!-- <li><i class="fab fa-html5"></i></li>
            <li><i class="fab fa-css3-alt"></i></li>
            <li><i class="fab fa-js"></i></li>
            <li><i class="fab fa-angular"></i></li>
            <li><i class="fab fa-react"></i></li>
            <li><i class="fab fa-bootstrap"></i></li>
            <li><i class="fab fa-wordpress-simple"></i></li>
            <li><i class="fab fa-git-alt"></i></li>
            <li><i class="fab fa-sass"></i></li> -->